<div class="container">
  <mat-card class="example-card mat-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img class="image" mat-card-image src="{{product.image}}" alt="Product">
    <mat-card-content>
      <p>Цена: {{product.price | currency}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button>В корзину</button>
      <button class="button" mat-raised-button [routerLink]="['/product', product.id]">Подробнее</button>
    </mat-card-actions>
  </mat-card>


</div>
