<div class="container">
  
  <mat-toolbar class="mat-toolbar" color="primary" *ngIf="canEdit">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button class="button add-btn" mat-raised-button (click)="openDialog()">Добавить товар</button>
    </mat-toolbar-row>
  </mat-toolbar>

  
  <mat-card class="example-card mat-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img class="image" mat-card-image src="{{product.image}}" alt="Product">
    <mat-card-content>
      <p>Цена: {{product.price | currency}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button (click)="addToBasket(product)" type="button">В корзину</button>
      <button class="button" mat-raised-button [routerLink]="['/product', product.id]">Подробнее</button>
      
      <button class="button" matButton [matMenuTriggerFor]="menu">Редактировать</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem(product.id)">Удалить</button>
        <button mat-menu-item (click)="openDialog(product)">Изменить</button>
      </mat-menu>
    </mat-card-actions>
    

  </mat-card>


</div>
