<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form formDialog">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input formControlName="price" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Chip</mat-label>
    <input formControlName="chip" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>SSD</mat-label>
    <input formControlName="ssd" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Memory</mat-label>
    <input formControlName="memory" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Display</mat-label>
    <input formControlName="display" matInput>
  </mat-form-field>
  
  <button class="button" mat-raised-button style="margin-right: 5px;" type="submit">{{isNew ? 'Добавить товар' : 'Обновить'}}</button>
  <button class="button" mat-raised-button (click)="onNoClick()" type="button">Отмена</button>
</form>
