.example-form {
  min-width: 150px;
  max-width: 500px;
  // width: 100%;
}

.formDialog {
  padding: 15px;
}

.example-full-width {
  width: 100%;
}

.button {
  margin-right: 5px;
  background-color: rgb(217, 75, 170);
  border-radius: 5px;
}